[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jmespath = "*"
pykube-ng = {extras = ["gcp"],version = "*"}
pyhelm = {git = "https://github.com/imduffy15/pyhelm",ref = "master"}

[dev-packages]
flake8 = "*"
pytest-cov = "*"
pytest = "*"
coveralls = "*"
coverage = "*"

[requires]
python_version = "3.7"
